<div class="container">
  <div class="row content-wrap">
    <div class="logo-style">
      <img src="assets/Dmifinance-logo.png">
    </div>
    <div class="text-content">
      <p class="dear-txt"> Dear Manish (DMI0000XXXX),</p>
      <p>You have chosen to opt-in for the RBI EMI Exception. Kindly consider the following – </p>
    </div>
    <ol class="ul-alignment">
      <li>By choosing this option you are declaring that you are facing financial difficulties in the face of COVID-19
        and need relief.</li>
      <li>You can choose to activate this RBI EMI Exception for any of the following -</li>
      <div>A. &nbsp;<b>One month:</b> I cannot pay my EMI for March 2020 but will resume payment from April 2020. My
        loan tenure will extend by 1 additional month. </div>
      <div>B. &nbsp;<b>Two months:</b> I cannot pay my EMI for March 2020 and April 2020, but will resume payment from
        June 2020. My loan tenure will extend by 2 additional months. </div>
      <div>C. &nbsp;<b>Three months:</b> I cannot pay my EMI until June 2020 and will resume payment from July 2020. My
        loan tenure will extend by 3 additional months. </div>
      <div class="emi-note-text">Please note that once you have chosen this RBI EMI Exception, you cannot reverse it for
        the period you have selected. </div>
      <li>The RBI EMI Exception / Moratorium facility <b>will be activated</b> for you only if your current outstanding
        amount with DMI is more than Rs 100 </li>
      <li>This facility <b>will NOT be activated</b> if you have already settled (written-off) your loan or are
        currently in the settlement process or have a matured/ cancelled/ closed loan</li>
      <li>Your loan tenure will increase by the months of exception you have selected (example – if your current loan
        was to end in August 2020 and you have chosen the 3 months exception, it will now end in November 2020)</li>
      <li>If you have purchased a phone on this loan, your phone will not get locked due to non-payment for EMI for the
        period of the exception (as chosen by you)</li>
      <li>Your credit score will not get impacted basis your non-payment of EMI during the exception period (as chosen
        by you)</li>
      <li>During the period of exception – </li>
      <ul>
        <li>If your auto debit facility is active – we will not use it to deduct EMI from your account</li>
        <li>If your auto-debit facility is not active - we will not send reminder messages with alternate payment mode
          links </li>
      </ul>
      <li>If you have already paid your EMI for April 2020 in advance and you wish to opt-in for the moratorium, we will
        adjust your further repayment schedule. For example :. This updated repayment schedule will be available to you
        by through E-mail / SMS / customer portal. </li>
      <div class="important-note"><b>Kindly Note : The amount that you have already paid to us WILL NOT BE TRANSFERRED
          BACK TO YOUR ACCOUNT. </b></div>
      <li>If you have multiple active loans with DMI, you can opt-in for the RBI EMI Exception against all your loans.
        Remember to indicate unique loan account IDs in the consent form against all those loans.</li>
    </ol>

    <div class="col-12 btn-section">If you would like to pledge to pay your EMIs as scheduled, please<br>
      <button type="button" class="btn-perSchedul margin-3">Click Here</button>
    </div>
    <div class="col-12">If you would like to confirm your choice of opting-in for the RBI EMI Exception/ Moratorium
      please<br>
      <button type="button" class="btn-Exception margin-3">Click Here</button>
    </div>
  </div>
</div>