<div class="container">
  <div class="row content-wrap">
    <div class="logo-style">
      <img src="assets/Dmifinance-logo.png">
    </div>
    <div class="text-content">
      <p class="dear-txt"> Dear Manish (DMI0000XXXX),</p>

      <p>Since you have chosen to opt-in for the RBI EMI Exception (also called the Moratorium), you must note the
        following - </p>
      <p>You will be charged additional interest/fee on your unpaid EMI (illustrative example given below) -
      </p>
    </div>
    <ul class="ul-alignment">
      <li>Amit took a personal loan of INR 50,000 on a 12-month EMI from DMI. </li>
      <li>Amit’s EMI is INR 4,631 per month and the original total interest to be paid by him is INR 6,736. </li>
      <li>If Amit decides to opt-in for 3-months moratorium, he will end up paying an <b>additional interest of INR
          3,473 which is 51% of the original interest.</b></li>
    </ul>
    <p>For every EMI you pay on time and as per schedule, you will be supporting us to contribute towards feeding the
      hungry.</p>
      <div class="term-condition">
        <h6 class="t-c">Note: -</h6>
        <ul class="ul-alignment">
          <li>The cut-off date to apply for the RBI EMI Exception / Moratorium is April 3, 2020 by 07:00 pm (IST), after
            which the exception will not be available.</li>
          <li>Those who do not opt-in for the moratorium by April 3rd 2020 by 07:00 pm (IST) will automatically be
            considered as customers who wish to pay their EMIs as per schedule.</li>
        </ul>
      </div>
        <h6 class="t-c">Kindly choose: -</h6>
        <div class="col-12">
          <button type="button" class="btn-perSchedul">I pledge to pay my EMIs as per schedule </button>
      </div>
      <div class="col-12">
        <button type="button" class="btn-Exception">I opt-in for the RBI EMI Exception</button>
      </div>
  </div>
</div>